* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}
@media (max-width: 500px) {
  html,
  body {
    width: 135%;
  }
}
header {
  background-color: #00BBFF;
  opacity: 0.8;
}
@media (max-width: 500px) {
  header {
    margin-top: -20px;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
header nav h1 {
  font-size: 45px;
  width: 30px;
  opacity: 1;
}
header nav input {
  align-self: flex-end;
  margin-bottom: 65px;
  opacity: 1;
}
header nav img {
  width: 100px;
  height: 100px;
  margin-left: 340px;
  margin-top: 10px;
  opacity: 1;
}
@media (max-width: 500px) {
  header nav img {
    margin-top: 30px;
  }
}
header nav button {
  align-self: flex-end;
  margin-bottom: 65px;
  opacity: 1;
}
.intro-section .intro-img {
  margin-top: -215px;
  background-image: url("girl-jogging.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (max-width: 500px) {
  .intro-section .intro-img {
    margin-top: 0px;
  }
}
.divider {
  background-color: #99ff99;
  height: 300px;
  margin-top: -26px;
}
.divider h1 {
  text-align: center;
  padding-top: 20px;
}
.divider p {
  line-height: 1.5;
}
.divider .p-tag-div {
  margin: 0 50px;
}
.intro-img-div h1 {
  font-size: 100px;
  color: #99ff99;
  position: absolute;
}
@media (max-width: 500px) {
  .intro-img-div h1 {
    margin-top: 0%;
  }
}
.mid-section {
  display: flex;
  justify-content: space-between;
}
.mid-section .mid-img {
  width: 50%;
}
@media (max-width: 500px) {
  .mid-section .mid-img img {
    height: 100%;
    width: 130%;
  }
}
.mid-section .mid-section2 {
  width: 50%;
  justify-content: center;
  margin: 0 100px;
  line-height: 1.5;
}
footer {
  background-color: #00BBFF;
  margin-top: -4px;
  padding-bottom: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer {
    margin-top: 0;
  }
}
footer a {
  text-decoration: none;
  margin: 0 10px;
}
.team-intro-img-div .team-intro-img {
  margin-top: -680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.team-intro-img-div h1 {
  padding-top: -315px;
  font-size: 100px;
  color: #99ff99;
  position: absolute;
}
@media (max-width: 500px) {
  .team-intro-img-div h1 {
    margin-top: 0%;
  }
}
.team-div {
  padding-top: 530px;
}
.team-div .team {
  position: absolute;
  width: 100px;
  height: 100px;
}
